@font-face {
    font-family: 'SeoulNamsanM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff');
    font-size: 1.2rem;
    font-weight: normal;
    font-style: normal;
}

body{
    background-image: url("/resources/img/index/night_background3.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
    font-family: SeoulNamsanM;
}

#order_result_box{
    border-radius: 30px;
    width:100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

#order_result_msg{
    border-radius: 30px;
    width:80%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top:-50px;
}

#order_result_msg img{
    width: 200px;
}

#order_detail_info h1{
    position: relative;
    top: -140px;
    font-size: 2rem;
}

#order_result_msg h4{
    color: rgba(255, 255, 255, 0.6);
}

#mypage_link{
    color: rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

#back_home_link{
    border: 2px solid rgba(255, 255, 255, 0.6);
    color: whitesmoke;
    border-radius: 15px;
    padding: 10px;
    width: 200px;
    position: relative;
    top: 20px;
    font-size: 1.2rem;
}
