@font-face {
    font-family: 'SeoulNamsanM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff');
    font-size: 1.2rem;
    font-weight: normal;
    font-style: normal;
}

body{
    background-image: url("/resources/img/index/night_background3.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
    font-family: SeoulNamsanM;
}

#order_detail_box{
    border-radius: 30px;
    width:100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

#order_detail_info{
    border-radius: 30px;
    width: 600px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

#order_detail_info h2{
    position: relative;
    top: -130px;
    font-size: 2rem;
}

#order_detail_info h4{
    position: relative;
    top: -130px;
    color: rgba(255, 255, 255, 0.6);
}

#back_link{
    display: block;
    text-align: center;
    margin-top: 40px;
}

#back_link a{
    position: relative;
    color: #90CAF9;
    top: -20px;
}

ul{
    position: relative;
    top: -70px;
    padding: 0;
    margin: 0 auto;
    width: 85%;
}
 ul li{
     list-style: none;
     margin-bottom: 20px;
     font-size: 1.2rem;
 }

 .list_item{
     display: flex;
     justify-content: space-between;
 }
 .field{
     width: 120px;
     font-weight: bold;
     color: black;
 }
 .field_value{
     width: 350px;
     display: flex;
     justify-content: center;
     color: black;
 }
 .blue_text{
     color: #3c66ab;
     font-weight: bolder;
 }

 button{
     background-color: #2B3487;
     border: #2B3487;
     color: whitesmoke;
     border-radius: 20px;
     padding: 10px;
     width: 200px;
     position: relative;
     top: -50px;
     font-size: 1.2rem;
     font-weight: bold;
 }
