body{
    background-image: url("/resources/img/index/night_background4.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#mypage {
    margin:0 auto;
    padding: 0;
    width: 70%;
    position: relative;
    height: 82%;
    top: 100px;
}

.myinfo {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid silver;
}

.myinfo h2 {
    margin: 0;
    padding-bottom: 30px;
}

.myinfo a {
    margin: 10px;
    color: silver;
    text-decoration: none;
    position: relative;
    top: 10px;
}
.myinfo a:hover {
    text-decoration: underline;
}

.lecture_list {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.lecture_list li {
    display: inline-block;
    width: 48%;
    margin-right: 2%;
    vertical-align: top;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: rgba(255,255,255,0.6);
    border-radius: 30px;
}
.lecture_list .mylecture img{
    border-radius: 10px;
}
.lecture_list li:last-child {
    margin-right: 0;
}

.lecture_list h3 {
    margin-top: 20px;
    color: black;
}

.mypage_icon{
    width: 20px;
    position: relative;
    top: 3px;
    padding: 0 5px;
}

.lecture_list p{
    color: black;
}
.mylecture .lecture_detail{
    max-height: 500px;
}

.scrollBar {
    height: 400px;
    margin: 10px 10px 30px 10px;
    overflow-y: scroll;
}
.scrollBar::-webkit-scrollbar {
    /* 스크롤바의 너비 */
    width: 10px;
}
.scrollBar::-webkit-scrollbar-thumb {
    /* 스크롤바의 길이 */
    height: 30%;
    /* 스크롤바의 색상 */
    background: rgba(252,200,87,0.5);
    border-radius: 10px;
}

.scrollBar::-webkit-scrollbar-track {
    /*스크롤바 뒷 배경 색상*/
    background: rgba(255,255,255,0.6);
    border-radius: 50px;
}


.wishlist .lecture_wish{
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}
.lect{
    border-bottom: 1px solid rgba(255,255,255,0.5);
    margin: 10px 20px;
    padding: 10px 0;
}