#user_update{
    margin:0 auto;
    padding: 0;
    width: 30vw;
    height: 130%;
    top: 3vh;
    position: relative;
}
#user_update ul{
    background: whitesmoke;
    position: relative;
    left: 50%;
    top: 18vh;
    transform: translateX(-50%);
    text-align: center;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
#user_update ul li{
    list-style: none;
    margin: 20px 0;
    padding: 0 20px;
}
li > input {
    border: none;
    border-radius: 15px;
    background: rgba(255,255,255,0.4);
    padding: 15px;
    width: 80%;
    font-size: 1rem;
    box-shadow: inset 7px 2px 10px #d2d6d4, inset -5px -5px 12px #fff;
}
button{
    padding: 10px 50px;
    color: #FFFFFF;
    border: none; /* 테두리 제거 */
    background-color: #2B3487;
    border-radius: 20px; /* 더 둥근 모서리 */
    width: 80%;
    font-size: 1.2rem;
    margin: 20px 0;
    cursor: pointer; /* 마우스 오버 시 커서 변경 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 상자 그림자 추가 */
    transition: all 0.3s ease; /* 부드러운 상태 변화 효과 */
}

button:hover {
    background: #3C4A99;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* 호버 시 그림자 키우기 */
    transform: translateY(-2px); /* 호버 시 버튼을 약간 띄움 */
}

button:active {
    background: #1A2265;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 클릭 시 그림자 줄이기 */
    transform: translateY(1px); /* 클릭 시 버튼을 약간 내림 */
}