body{
    background-image: url("/resources/img/index/night_background4.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

form{
    margin: 0 auto 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 450px;
}

#search{
    padding: 12px 30px 12px 12px;
    border: 2px solid white;
    border-radius: 20px;
    appearance: none;
    background-image: url(/resources/img/lecture/caret-down-solid.svg);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 75px 11px;
    opacity: 0.9;
}


#input_box{
    width: 300px;
    border: 2px solid white;
    border-radius: 20px;
    padding: 0 10px;
    position: relative;
    background: rgba(255, 255, 255, 0.9);
}

#search_txt{
    border: none;
    background-color: transparent;
    width: 250px;
    padding: 7px 10px;
    font-size: 1.1rem;
}

#search_txt:focus{
    outline: none;
}
#glass{
    position: absolute;
    left: 285px;
    top: 18px;
    border: none;
    background-color: transparent;
    color: silver;
}
i:hover{
    cursor: pointer;
}
i:active{
    cursor: pointer;
}
#page{
    display: flex;
    justify-content: center;
    margin:30px
}

#page a{
    margin: 3px;
    padding: 3px;
    font-size: 1.1rem;
    text-decoration: none;
    color: rgba(183,103,183,0.8);
}
#page a.current-page{
    color: white;
}
a>i{
    position: relative;
    top: 4px;
}
/*차트 이미지*/
svg{
    border-radius: 30px;
}
/*관리자 페이지 크기*/
#user_list{
    margin: 0 auto;
    padding: 0;
    width: 60%;
    height: 110%;
    top: 12vh;
    position: relative;
}
.admin_func{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}
.admin_func a{
    margin: 0 20px;
    color: white;
    padding: 0 25px;
}
.detail_list{
    list-style: none;
    padding:0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    border:1px solid transparent;
    border-radius: 10px;
    overflow: hidden; /* 내용이 넘치지 않도록 설정 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#user_manage_btn{
    border-bottom: 4px solid white;
}

#enroll_manage_btn{
    border-bottom: 4px solid transparent;
}
.detail_list li{
    display: flex;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}
.detail_list li:first-child{
    justify-content: space-between;
    font-weight: bold;
    background-color: rgba(183,103,183,0.8);
    color: white;
}
.user_data {
    display: flex;
    justify-content: space-between; /* 항목 간의 공간을 균등하게 분배 */
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.user_data span {
    flex: 1; /* 모든 span 요소가 동일한 비율로 공간을 차지하도록 설정 */
    text-align: center;
}

.user_data span a {
    color: #b768b7;
    /*color: rebeccapurple;*/
}

.detail_list li span{
    flex: 1;
    text-align: center;
    margin: 0 5px;
}
.user_data:last-child {
    border-bottom: none; /* 마지막 항목의 하단 선 제거 */
}

/*#enroll_manage_tab{*/
/*    color: rgba(255,255,255,0.4);*/
/*}*/