body{
    background-image: url("/resources/img/index/night_background2.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

form{
    margin: 0 auto 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 450px;
}

#search{
    padding: 0 30px 0 5px;
    border: 2px solid #4C6EC6;
    border-radius: 5px;
    appearance:none;
    background-image: url("/resources/img/lecture/caret-down-solid.svg");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 70px 8px;
}


#input_box{
    width: 280px;
    border: 2px solid #4C6EC6;
    border-radius: 20px;
    padding: 5px 10px;
    position: relative;
}

#search_txt{
    border: none;
    background-color: transparent;
    width: 250px;
    padding: 3px 0;
}

#search_txt:focus{
    outline: none;
}
#glass{
    position: absolute;
    left: 270px;
    top: 15px;
    border: none;
    background-color: transparent;
    color: #4C6EC6;
}
i:hover{
    cursor: pointer;
}
i:active{
    cursor: pointer;
}
#page{
    display: flex;
    justify-content: center;
    margin:10px
}

#page a, #page p{
    margin: 3px;
    padding: 3px;
    font-size: 1.1rem;
}

a>i{
    position: relative;
    top: 4px;
}
svg{
    border-radius: 10px;
}
/*관리자 페이지 크기*/
#user_list{
    margin: 0 auto;
    padding: 0;
    width: 60vw;
    height: 130%;
    top: 12vh;
    position: relative;
}
.admin_func{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid silver;
    margin-bottom: 20px;
}
.admin_func a{
    margin: 0 10px;
    color: white;
}
.detail_list{
    list-style: none;
    padding:0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    border:1px solid silver;
    border-radius: 10px;
    overflow: hidden; /* 내용이 넘치지 않도록 설정 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.detail_list li{
    display: flex;
    padding:10px;
}
.detail_list li:first-child{
    justify-content: space-between;
    font-weight: bold;
    background-color: #2B3487;
    color: white;
}
.user_data {
    display: flex;
    justify-content: space-between; /* 항목 간의 공간을 균등하게 분배 */
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.user_data span {
    flex: 1; /* 모든 span 요소가 동일한 비율로 공간을 차지하도록 설정 */
    text-align: center;
}
.detail_list li span{
    flex: 1;
    text-align: center;
    margin: 0 5px;
}
.user_data:last-child {
    border-bottom: none; /* 마지막 항목의 하단 선 제거 */
}
