#mypage {
    margin:0 auto;
    padding: 0;
    width: 70%;
    position: relative;
    height: 80%;
    top: 10vh;
}

.myinfo {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid silver;
}

.myinfo h3 {
    margin: 0;
    padding-bottom: 10px;
}

.myinfo a {
    margin: 10px;
    color: #007bff;
    text-decoration: none;
}
.myinfo a:hover {
    text-decoration: underline;
}

.lecture_list {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.lecture_list li {
    display: inline-block;
    width: 48%;
    margin-right: 2%;
    vertical-align: top;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: #f9f9f9;
    border-radius: 10px;
}
.lecture_list .mylecture img{
    border-radius: 10px;
}
.lecture_list li:last-child {
    margin-right: 0;
}

.lecture_list h4 {
    margin-top: 0;
}