
/*개강 임박 강의 스크롤 구현*/

.scrollBar {
    height: 400px;
    margin: 0 auto;
    overflow-y: scroll;
}
.scrollBar::-webkit-scrollbar {
    /* 스크롤바의 너비 */
    width: 10px;
}
.scrollBar::-webkit-scrollbar-thumb {
    /* 스크롤바의 길이 */
    height: 30%;
    /* 스크롤바의 색상 */
    background: rgba(252,200,87,0.5);
    border-radius: 10px;
}

.scrollBar::-webkit-scrollbar-track {
    /*스크롤바 뒷 배경 색상*/
    background: rgba(255,255,255,0.6);
    border-radius: 50px;
}

#open_lecture_box ul{
    margin: 0 auto;
    padding: 10px;
}
#open_lecture_box li{
    list-style: none;
    padding: 10px 0;
}

#open_lecture_box>h1>img{
    position: relative;
    top: 5px;
    width: 30px;
}

#open_lecture_box li img{
    width: 15px;
}

.lecture_name_field{
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*최신 강의 슬라이더 구현*/
.lecture_box2>img{
    width: 250px;
    height: 150px;
    border-radius: 10px;
}

.display_lecture2{
    width: 400px;
    margin: 0 auto;
    background: rgba(255,255,255,0.4);
    border-radius: 20px;
    padding: 0 0 10px 0;
}

.display_lecture2>h1{
    position: relative;
    left: 35px;
}

.display_lecture2 #title_icon3{
    position: relative;
    top: 3px;
    width: 22px;
    margin-right: 10px;
}

/* 슬라이더 구현 */

.slider2 {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 80%;
    height: 250px;
}

.slide2{
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-around;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

    animation: slider2 15s infinite linear;
}

/*
    slider animation 실행되는 시간 15초의 1/3
    이미지가 3개라서 전체 시간을 3으로 나눔
    aimation은 100% / 3 = 33%로, 5초 안에 animation의 33%가 실행됨

*/

/*첫 번째 slide - animation 지연시간을 0로 줘서 animation 0% 부터 실행*/
.slide2:nth-child(1) {
    animation-delay: 0s;
}

/*두 번째 slide - animation 지연시간 -5초 으로 줘서 animation 0% 에서 5초 실행한 뒤의 상태부터 실행*/
.slide2:nth-child(2) {
    animation-delay: -5s;
}
/* 세 번째 slide - animation 지연시간 -10초 으로 줘서 animation 0% 에서 10초 실행한 뒤의 상태부터 실행*/
.slide2:nth-child(3) {
    animation-delay: -10s;
}

@keyframes slider2 {
    0% {
        transform: translateX(0);
    }

    26% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-100%);
        animation-timing-function: step-end;
    }
    93% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}