@font-face {
    font-family: 'SeoulNamsanM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff');
    font-size: 1.2rem;
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    font-family: SeoulNamsanM;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    position: fixed;
    z-index: 5;
}

.header_img {
    position: relative;
    left: 8px;
    width: 55px;
}

.header_01{
    position: relative;
    left: 10%;
}

.header_03 {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    right: 10%;
}

a {
    text-decoration: none;
    color: black;
}

.menu_tab{
    margin-right: 30px;
}

.header_img_txt{
    width: 70px;
    position: relative;
    top: -5px;
}

#login_btn{
    background-color: #1A2375;
    border-radius: 30px;
    color: whitesmoke;
    padding: 10px;
}

#logout_btn{
    font-weight: bold;
    background-color: white;
    border-radius: 30px;
    border: 2px solid #1A2375;
    color: #1A2375;
    padding: 10px;
}