@media screen and (min-width: 1024px),
screen and (min-height: 1024px) and (orientation: landscape){
    *{
        margin: 0;
        padding: 0;
    }

    #wrap{
        margin: 0 auto 300px;
        width: 90vw;
        position: relative;
        top: 150px;
    }

    /* 강의 이름 + 강의 수정 */
    #top{
        margin: 0 auto;
        width: 67vw;
        display: flex;
        justify-content: space-between;
    }

    #top h2{
        margin-left: 5px;
        font-size: 1.4vw;
    }

    .line{
        width: 67vw;
        border: 1px solid silver;
        margin: 5px auto 0;
    }

    /* 강의 정보 박스 */
    #mainInfo{
        margin: 3vw auto;
        width: 60vw;
        /*height: 280px;*/
        border: 2px solid #a1a1a1;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
    }

    #mainInfo img{
        width: 32%;
        margin: auto 0;
        padding: 1.2vw;
    }

    ul li{
        list-style: none;
    }

    .ul1{
        margin: auto 1vw;
    }

    .ul1 li{
        font-size: 0.95vw;
        padding: 0.6vw;
    }

    .ul1 li span:first-child{
        width: 7vw;
        display: inline-block;
    }

    /* 결제하기 + 찜하기 */
    .ul2{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #order, #wish{
        color: white;
        margin: 0 2vw;
        padding: 0.6vw 5vw;
        font-size: 1vw;
        border-radius: 10px;
    }

    #order{
        background-color: #1A2375;
    }

    #wish{
        background-color: #3662D4;
        border: none;
        cursor: pointer;
    }

    .fa-star{
        position: relative;
        top: -0.05vw;
        right: 0.7vw;
    }

    .starOnOff{
        color: #fff692;
    }

    /* 목차 */
    .ul3{
        /*width: 67%;*/
        margin: 7vw auto;
        position: sticky;
        top: 59px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 1vw;
        background-color: white;
    }

    .ul3 li{
/*        border-top: 3px double silver;
        border-bottom: 3px double silver;  */
        border-top: 2px solid silver;
        border-bottom: 2px solid silver;
    }

    .ul3 li:hover
    , .ul3 li:active{
/*        border-top: 3px double #3662D4;
        border-bottom: 3px double #3662D4;    */
        border-top: 2px solid #3662D4;
        border-bottom: 2px solid #3662D4;
    }

    .ul3 li a{
        padding: 1vw 8vw;
        display: inline-block;
    }

    .ul3 li a:hover
    , .ul3 li a:active{
        color: #3662D4;
        font-weight: bolder;
    }

    /* 강의 소개 */
    article>h3{
        margin: 0 0 10px 5px;
        font-size: 1.1vw;
        color: #3662D4;
    }

    #lectureDescription{
        margin: 0 auto;
        width: 60vw;
    }

    #lectureInfoBox{
        height: 15vw;
        border: none;
        border-radius: 10px;
        box-shadow: 4px 3px 6px 2px rgba(180, 180, 180, 0.51), -1px -1px 5px 2px rgba(210, 210, 210, 0.6);
    }

    #lectureInfoBox>p{
        padding: 2vw;
        font-size: 1vw;
        font-weight: normal;
    }

    /* 강의 자료 */
    #lectureData{
        margin: 5vw auto;
        width: 60vw;
    }

    #lectureData span{
        display: inline-block;
        font-size: 0.95vw;
    }

    #lectureData>:nth-child(2){
        margin: 1.5vw;
        width: 7vw;
    }

    #lectureData>:last-child>a{
        color: #5b5b5b;
        text-decoration: underline;
    }

    /* 세부 강의 */
    #lectureSeries{
        margin: 5vw auto;
        width: 60vw;
    }

    #series>form label{
        margin: 0.7vw 1.5vw;
        display: inline-block;
        width: 7vw;
        font-size: 0.95vw;
    }

    #series>form input{
        display: inline-block;
        width: 20vw;
        padding: 0.25vw;
        border: 1px solid silver;
        border-radius: 5px;
    }

    #series>form input:focus{
        outline-color: #b3bcd0;
    }

    #append{
        position: relative;
        top: 3px;
        padding: 0.2vw 1.3vw;
        margin-left: 1vw;
        font-size: 0.9vw;
        border: 1px solid silver;
        border-radius: 10px;
        cursor: pointer;
    }

    #seriesTable{
        display: table;
        width: 60vw;
        margin: 2vw auto;
    }

    .seriesTr{
        display: table-row;
        height: 2.5vw;
    }

    .seriesTd{
        display: table-cell;
        border: 1px solid silver;
        /*padding: 0.15vw 0.5vw 0.6vw 0.5vw;*/
        font-size: 0.9vw;
        text-align: center;
    }

    .seriesTd>p{
        position: relative;
        top: 0.5vw;
    }

    .lectureIcon{
        width: 1.5vw;
        position: relative;
        top: 0.45vw;
        opacity: 0.6;
    }

    .update_btn{
        cursor: pointer;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px),
screen and (min-height: 760px) and (max-height: 1023px)
and (orientation: landscape){

}


@media screen and (max-width: 767px),
screen and (max-height: 479px)
and (orientation: landscape){

}

