*{
    margin: 0;
    padding: 0;
}

#wrap{
    margin: 100px auto;
    width: 80vw;
}

h2{
    position: relative;
    left: 5px;
}

.line{
    border: 1px solid silver;
    margin-top: 10px;
}

#wrap form{
    margin: 40px auto;
    width: 70vw;
}

ul li{
    list-style: none;
    margin: 10px 0;
}

label{
    display: inline-block;
    width: 150px;
}