*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("/resources/img/index/night_background2.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#wrap{
    margin: 0 auto 250px;
    width: 60%;
    position: relative;
    top: 150px;
    background: whitesmoke;
    color: black;
    border-radius: 3vw;
    padding: 50px 0 30px;
    font-size: 1.2vw;
}

h2{
    text-align: center;
}

#wrap form{
    margin: 60px auto 20px;
    width: 75%;
}

ul li{
    list-style: none;
    margin: 30px 0;
}

label{
    display: inline-block;
    width: 25%;
}

form img{
    position: relative;
    top: 0.7vw;
    width: 12vw;
    height: 9vw;
    margin-right: 10px;
    border-radius: 15px;
}

textarea{
    resize: none;
}

li:nth-child(4)>label {
    position: relative;
    top: -5.5vw;
}

input,textarea, select{
    font-size: 1.1vw;
    font-family: 'SeoulNamsanM';
}

input[type=file]::file-selector-button{
    margin-right: 15px;
    padding: 0.5vw 0.7vw;
    font-family: 'SeoulNamsanM';
    border: 1px solid #1A2375;
    /*border: none;*/
    border-radius: 10px;
    background: rgba(255,255,255,0.4);
    color: #1A2375;
}

input[type=text], textarea, select, input[type=date]{
    padding: 0.7vw;
    border: none;
    border-radius: 10px;
    background: rgba(255,255,255,0.4);
    box-shadow: inset 7px 2px 10px #d2d6d4, inset -5px -5px 12px #fff;
}

input[type=text], textarea{
    width: 60%;
}

select{
    width: 12%;
}

#price{
    width: 20%;
}

input[type=date]{
    width: 20%;
}

#lectureData{
    width: 25%;
    margin-right: 10px;
}

#append{
    display: block;
    margin: 50px auto 0;
    padding: 1vw 6vw;
    background-color: #2B3487;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1.3vw;
}

#append:hover {
    background: #3C4A99;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

#append:active {
    background: #1A2265;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
}

footer{
    margin-bottom: 15px;
}